.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .App-logo {
        height: 40px;
        margin-right: 20px;
    }
    
    .App-branch {
        color: #000;
        font-size: 24px;

        .App-link {
            color: #000;
        }
    }
}

