.warning-message {
    background-color: lightyellow;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid lightgoldenrodyellow;
    text-align: center;

    h2 {
        color: brown;
        margin: 0;
    }

    p {
        color:darkgoldenrod;
        font-size: 24px;
        margin: 0;
    }
}