.App {

    a {
        text-decoration: none;
    }

    .App-body {
        margin: 0 20px;
    }

    .btn {
        background-color: #268fb2;
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: white;
        font-weight: bold;
        margin: 10px 0;
        font-size: 20px;
        text-transform: capitalize;
    }
}

